.navigation__back {
  display: none;
  cursor: pointer;
  .fa, .fic{
    pointer-events: none;
  }
  @include media-breakpoint-down-or-touch(xs){
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $grid-gutter-width/2;
    font-size: rem(18px);
    font-weight: 800;
  }
}