.navigation__link {
  color: $black;
  display: block;
  white-space: nowrap;
  font-size: rem(18px);
  font-weight: 800;
  &:hover,
  .navigation__item_hover &,
  .navigation__item:hover &{
    text-decoration: none;
  }

  @include media-breakpoint-down-or-touch(xs){
    padding-top: $grid-gutter-width/6;
    padding-bottom: $grid-gutter-width/6;
    &:not(:last-child){
      margin-right: $grid-gutter-width;
      position: relative;
      &:before{
        font-family: 'FontAwesome';
        content: "\f105";
        color: $black;
        position: absolute;
        height: 100%;
        top: 0;
        left: 100%;
        width: $grid-gutter-width;
        pointer-events: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
      }
    }
  }
}

.navigation__item_hover,
.navigation__item:hover{
  .navigation__link{
    @include media-breakpoint-up-and-no-touch(sm){
      color: $link-hover-color;
    }
  }
}