.search__inner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid $gray-200;
  margin: 0;
  width: 100%;
  height: 3rem;
  padding-left: 2rem;
  padding-right: 1rem;
  border-radius: 2rem;
}