.header__col_toolbar {
  @include media-breakpoint-down-or-touch(xs){
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    padding-top: $grid-gutter-width/2;
    background-color: $white;
    border-top: 1px solid $gray-100;
    bottom: 0;
    height: $toolbar-height-touch;
    padding-left: 0;
    padding-right: 0;
  }
}