.teaser__icon {
  $size: $line-height-base + rem;
  font-size: $size;
  min-width: $size;
  display: block;
  text-align: center;
  line-height: 1;
  &:not(:last-child){
    margin-right: rem(10px);
  }
}