.footer__logo {
  margin-bottom: rem(20px);
  @include media-breakpoint-down(md){
    order: 1;
    margin-top: rem(30px);
    margin-bottom: 0;
  }
  @include media-breakpoint-down(sm){
    display: none;
  }
}