.basket-list-small__badge {
  display: inline-block;
  background-color: $black;
  color: $white;
  border-radius: $border-radius-sm;
  font-size: $font-size-sm;
  padding: rem(5px);
  line-height: 1;
  margin-left: rem(5px);
}