.navigation__list_split {
  $column-width: 250px;
  column-gap: $grid-gutter-width;
  &_4{
    column-count: 4;
    column-width: $column-width;
  }
  &_2{
    column-count: 2;
    column-width: $column-width;
  }
}