.toolbar {
  @include media-breakpoint-down-or-touch(xs){
    @include make-container();
    @include make-container-max-widths();
  }
  @include media-breakpoint-up-and-no-touch(sm){
    position: relative;
  }
}