.navigation__dropdown {
  position: absolute;
  background-color: $white;
  width: 100%;
  overflow: hidden;
  transition: 0.35s ease 0.35s;
  cursor: auto;
  z-index: $zindex-dropdown;
  visibility: hidden;
  opacity: 0;
  @include media-breakpoint-down-or-touch(xs){
    top: 0;
    left: 100%;
    height: 100%;
    overflow-y: hidden;
    display: flex;
    flex-flow: column nowrap;
    will-change: transform, visibility;
    transition-property: transform, visibility;
  }

  @include media-breakpoint-up-and-no-touch(sm){
    left: 0;
    right: 0;
    top: 100%;
    padding-top: $grid-gutter-width;
    padding-bottom: $grid-gutter-width;
    border-top: 1px solid $gray-100;
    border-bottom: 1px solid $gray-100;
    opacity: 0;
    will-change: visibility, opacity;
    transition-property: visibility, opacity;
  }
}

.header__col_navigation.show .navigation__dropdown {
  @include media-breakpoint-down-or-touch(xs){
    transition-delay: 0s;
  }
}

.navigation__item_hover{
  .navigation__dropdown{
    @include media-breakpoint-down-or-touch(xs){
      transform: translateX(-100%);
      visibility: visible;
      opacity: 1;
    }
  }
}


.navigation__item:hover{
  .navigation__dropdown{
    @include media-breakpoint-up-and-no-touch(sm){
      visibility: visible;
      opacity: 1;
    }
  }
}
