.card__date {
  border-radius: $btn-border-radius;
  text-align: center;
  font-weight: 700;
  padding: $btn-padding-y $btn-padding-x;
  display: inline-block;
  min-height: rem(33px);
  min-width: 70%;
}