@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/mixins";
@import "mixins";
@import "~sass-rem/rem";

$white:    #fff;
$gray-100: #f2f2f2;
$gray-200: #e8e8e8;
$gray-300: #dddddd;
$gray-400: #ced4da;
$gray-500: #adb5bd;
$gray-600: #6c757d;
$gray-700: #495057;
$gray-800: #343a40;
$gray-900: #212529;
$black:    #000;

$blue:    #007bff;
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #e83e8c;
$red:     #d70200;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #28a745;
$teal:    #20c997;
$cyan:    #17a2b8;

$primary:       $red;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;

$input-btn-padding-y: rem(8px);
$input-btn-padding-x: rem(15px);

$border-radius-sm: 4px;
$border-radius: 8px;

@import "~bootstrap/scss/variables";
@import "~font-awesome/scss/variables";

$fa-font-path: "~font-awesome/fonts/";

$rem-baseline: 14px;
$page-min-width: 320px;

$body-bg:        $white;
$body-color:     #333;

$font-size-base:   1rem;
$font-size-lg:     rem(16px);
$font-size-sm:     rem(12px);

$line-height-base: 1.75;
$btn-border-radius: 30px;
$btn-border-radius-lg:        $btn-border-radius;
$btn-border-radius-sm:        $btn-border-radius;
$input-border-radius: 30px;
$btn-focus-box-shadow: none;
$input-box-shadow: none;
$btn-focus-width: 0;

$font-family-sans-serif: "Exo 2", sans-serif;
$font-family-base:       $font-family-sans-serif;

$headings-color: $black;
$headings-font-weight: 700;
$headings-line-height: 1.2;
$headings-margin-bottom: 20px;

$h1-font-size: rem(36px);
$h2-font-size: rem(30px);
$h3-font-size: rem(24px);
$h4-font-size: rem(20px);
$h5-font-size: rem(18px);
$h6-font-size: rem(16px);

$link-color:                theme-color("primary");
$link-decoration:           none;
$link-hover-color:          $link-color;
$link-hover-decoration:     underline;

$zindex-dropdown:                   1000;
$zindex-backdrop:                   1020;
$zindex-fixed:                      1030;
$zindex-modal-backdrop:             1040;
$zindex-sticky:                     1050;
$zindex-modal:                      1060;
$zindex-popover:                    1070;

$zindex-tooltip:                    1080;
$zindex-search:                     1090;
$zindex-navigation:                 2000;
$zindex-toolbar:                    2010;

$toolbar-height-touch: 56px;