.footer__title {
  font-weight: 500;
  font-size: $font-size-lg;
  pointer-events: none;
  &,
  &:focus,
  &:active,
  &:hover{
    text-decoration: none;
    color: $black;
  }
  @include media-breakpoint-down(sm){
    pointer-events: auto;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    cursor: pointer;
    &:after{
      font-size: 1.5em;
      line-height: 1;
      content: '-';
    }
  }
  &.collapsed{
    @include media-breakpoint-down(sm){
      &:after{
        content: '+';
      }
    }
  }
}