.footer__col {
  padding-left: $grid-gutter-width/2;
  padding-right: $grid-gutter-width/2;
  padding-bottom: $grid-gutter-width/2;
  padding-top: $grid-gutter-width/2;
  flex: 0 0 auto;
  @include media-breakpoint-down(md){
    width: 50%;
  }
  @include media-breakpoint-down(sm){
    width: 100%;
  }
}