html{font-size: $rem-baseline}
body{
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  min-width: $page-min-width;
  min-height: 100vh;
  @include media-breakpoint-down-or-touch(xs){
    padding-bottom: $toolbar-height-touch;
  }
}