[data-toggle="show"]{
  cursor: pointer;
}
.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: none;
  z-index: $zindex-backdrop;
  background-color: $modal-backdrop-bg;
  visibility: hidden;
  will-change: visibility, opacity;
  transition-property: visibility, opacity;
  &.fade {opacity: 0;}
  &.show {
    opacity: $modal-backdrop-opacity;
    visibility: visible;
  }
  &-open{
    overflow: hidden;
  }
}