.header__inner {
  top: 0;
  border-bottom: 1px solid $gray-100;
  background-color: $body-bg;
  position: relative;
  padding-top: $grid-gutter-width/2;
  will-change: position, height, width;
  &_fixed {
    position: fixed;
    width: 100%;
  }
}