.search {
  background-color: $white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  pointer-events: none;
  transition-property: opacity;
  will-change: opacity;
  &.show{
    pointer-events: auto;
  }
}
