.navigation__container {
  @include make-container();
  @include make-container-max-widths();
  @include media-breakpoint-down-or-touch(xs){
    max-height: 100%;
    overflow-y: auto;
    flex: 10 10 auto;
  }
}