.social__link {
  border-radius: 50%;
  font-size: rem(18px);
  text-align: center;
  width: rem(36px);
  height: rem(36px);
  background-color: $link-color;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 auto;
  color: $white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  &:hover{
    text-decoration: none;
    color: $white;
    background-color: $link-hover-color;
  }
}