@import "variables";

@font-face {
  font-family: 'eobuv-icon';
  src:
    url('#{$icomoon-font-path}/eobuv-icon.ttf?tov73n') format('truetype'),
    url('#{$icomoon-font-path}/eobuv-icon.woff?tov73n') format('woff'),
    url('#{$icomoon-font-path}/eobuv-icon.svg?tov73n#eobuv-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.fic {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'eobuv-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@function unicode($str) {
  @return unquote("\"") + $str + unquote("\"");
}

.fic-angle-left {
  &:before {
    content: unicode($fic-angle-left); 
  }
}
.fic-angle-right {
  &:before {
    content: unicode($fic-angle-right); 
  }
}
.fic-mail {
  &:before {
    content: unicode($fic-mail); 
  }
}
.fic-iv {
  &:before {
    content: unicode($fic-iv); 
  }
}
.fic-phone-call-circle {
  &:before {
    content: unicode($fic-phone-call-circle); 
  }
}
.fic-search {
  &:before {
    content: unicode($fic-search); 
  }
}
.fic-heart {
  &:before {
    content: unicode($fic-heart); 
  }
}
.fic-heart-o {
  &:before {
    content: unicode($fic-heart-o); 
  }
}
.fic-shopping-bag {
  &:before {
    content: unicode($fic-shopping-bag); 
  }
}
.fic-clock {
  &:before {
    content: unicode($fic-clock); 
  }
}
.fic-lock {
  &:before {
    content: unicode($fic-lock); 
  }
}
.fic-map-marker {
  &:before {
    content: unicode($fic-map-marker); 
  }
}
.fic-phone {
  &:before {
    content: unicode($fic-phone); 
  }
}
.fic-phone-call {
  &:before {
    content: unicode($fic-phone-call); 
  }
}

