$icomoon-font-path: "fonts" !default;

$fic-angle-left: \e90c;
$fic-angle-right: \e90d;
$fic-mail: \e90b;
$fic-iv: \e90a;
$fic-phone-call-circle: \e909;
$fic-search: \e900;
$fic-heart: \e901;
$fic-heart-o: \e902;
$fic-shopping-bag: \e903;
$fic-clock: \e904;
$fic-lock: \e905;
$fic-map-marker: \e906;
$fic-phone: \e907;
$fic-phone-call: \e908;

