.navigation__col {
  padding-top: $grid-gutter-width/2;
  padding-bottom: $grid-gutter-width/2;
  padding-left: 0;
  padding-right: 0;
  @include media-breakpoint-up-and-no-touch(sm){
    padding-left: $grid-gutter-width;
    padding-right: $grid-gutter-width;
    flex-grow: 1;
    flex-basis: auto;
    &:not(:first-child){
      border-left: 1px dashed $gray-200;
    }
  }
}