.toolbar__dropdown {
  position: absolute;
  background-color: $white;
  min-width: $page-min-width;
  overflow: hidden;
  &,
  & ~ .toolbar__link .toolbar__icon:after,
  & ~ .toolbar__link .toolbar__icon:before{
    transition: 0.35s ease;
    visibility: hidden;
    will-change: visibility, transform, opacity;
    transition-property: visibility, transform, opacity;
    @include media-breakpoint-up-and-no-touch(sm){
      opacity: 0;
    }
  }

  @include media-breakpoint-down-or-touch(xs){
    position: fixed;
    bottom: $toolbar-height-touch;
    left: 100%;
    top: 0;
    border-left: 1px solid $gray-100;
    max-width: 100%;
  }
  @include media-breakpoint-up-and-no-touch(sm){
    border: 1px solid $gray-100;
    border-radius: $border-radius;
    top: 100%;
    right: 0;
    margin-top: $grid-gutter-width/3;
    max-width: $page-min-width * 2;
    max-height: #{'calc(100vh - 200px)'};
  }

  &.show {
    &,
    & ~ .toolbar__link .toolbar__icon:after,
    & ~ .toolbar__link .toolbar__icon:before{
      visibility: visible;
      opacity: 1;
    }
    @include media-breakpoint-down-or-touch(xs){
      transform: translateX(-100%);
    }
  }
}