.toolbar__icon {
  font-size: rem(24px);
  line-height: 1;
}
.toolbar__dropdown ~ .toolbar__link .toolbar__icon{
  @include media-breakpoint-up-and-no-touch(sm){
    $caret-size: 10px;
    position: relative;
    &:after,
    &:before{
      content: '';
      position: absolute;
      top: 100%;
      left: 50%;
      border: $caret-size solid transparent;
      border-bottom-color: $gray-100;
      margin-top: -$caret-size;
      margin-left: -$caret-size;
    }
    &:after{
      border-bottom-color: $white;
      margin-top: -$caret-size + 1;
    }
  }
}