.header__col_navigation {
  flex-grow: 1;
  @include media-breakpoint-down(lg){
    width: 100%;
    order: 1;
  }
  @include media-breakpoint-down-or-touch(xs){
    position: fixed;
    right: 100%;
    top: 0;
    bottom: $toolbar-height-touch;
    width: $page-min-width;
    background-color: $white;
    overflow: hidden;
    border-right: 1px solid $gray-100;
    will-change: transition;
    transition: transform 0.35s ease;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    padding-bottom: $grid-gutter-width/2;
    padding-top: $grid-gutter-width/2;
    &.show{
      transform: translateX(100%);
      z-index: 1;
    }
  }
}