.search__input {
  width: 100%;
  font-weight: 300;
  border: none;
  padding: 0;
  background-color: transparent;
  margin: 0;
  outline: none;
  &::placeholder {
    color: $gray-500;
    opacity: 1;
  }
}