.toolbar__badge {
  font-size: rem(11px);
  font-weight: 300;
  border-radius: 50%;
  width: rem(24px);
  height: rem(24px);
  line-height: rem(24px);
  text-align: center;
  color: $white;
  background-color: $gray-300;
  &:not(:first-child){
    margin-left: rem(10px);
    @include media-breakpoint-down(xs){
      margin-left: rem(-10px);
    }
  }
  a > & {background-color: theme-color("primary")}
}