.copyright {
  background-color: $gray-100;
  padding-top: $grid-gutter-width/3;
  padding-bottom: $grid-gutter-width/3;
  font-size: rem(13px);
  @include media-breakpoint-down(xs){
    font-size: rem(12px);
  }
}