.navigation__item {
  @include media-breakpoint-down-or-touch(xs){
    cursor: pointer;
    padding-left: $grid-gutter-width/2;
    padding-right: $grid-gutter-width/2;
  }
  @include media-breakpoint-up-and-no-touch(sm){
    &:not(:last-child){
      margin-right: rem($grid-gutter-width/3);
    }
    &:not(:first-child){
      margin-left: rem($grid-gutter-width/3);
    }
  }
}